* {
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

.navbar-custom {
    background-color: #95714D !important;
}

.navbar-custom .nav-link {
    color: white !important;
}

.navbar-custom .nav-item p {
    color: white !important;
}

body {
    margin: 0;
    background-color: #f2eed5;
    color: #D4A373;
}

.properties-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.properties-container::-webkit-scrollbar {
    display: none;
}

.property-card {
    flex: 0 0 auto;
    width: 100%;
    max-width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #D4CAB2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.property-card:last-child {
    margin-right: 0;
}

.property-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 20px lightgrey;
}

.property-image {
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.property-name {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.reservation-calendar {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}


.reservation-calendar .react-calendar__tile--active {
    background-color: rgba(240, 173, 78, 0.3);
    color: #333;
    padding-bottom: 5px;
    cursor: default;
    position: relative;
}


.reservation-calendar .react-calendar__tile {
    pointer-events: none;
}


.reservations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.reservation-card {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.reservation-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.reservation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation-info h5 {
    margin: 0 0 5px 0;
}

.reservation-info p {
    margin: 0;
}

strong {
    font-weight: 700;
    font-style: italic;
    color: #d4cfb0;
    font-size: 0.9rem;
    margin-right: 10px;
}

.resource-title {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #d4cfb0;
}

